datadog_site: "us5.datadoghq.com"
apps_localhost: "http://127.0.0.1:3000"
datadog_api_key: "${datadog_api_key}"
datadog_checks:
  http_check:
    init_config:
    instances:
      - name: app_check
        url: "${datadog_site}"


db_postgres: "${db_host}"
db_database: "${db_name}"
db_username: "${db_user}"
db_password: "${db_password}"
db_port: "${db_port}"